<div class="login-wrapper flex items-center justify-center">

  <mat-card appearance="outlined" class="card-login p-4">
    <mat-card-title class="text-center text-2xl pt-2 pb-4">Login to FIM Portal</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button flex justify-end">
          <button type="submit" mat-raised-button>Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>
