<div class="header flex items-center justify-between drop-shadow-lg bg-blue-900 text-white py-1 px-4">
  <div>Raymond Weil - FIM Portal</div>
  <div>Connected as: {{ login }} - <button mat-flat-button (click)="logout()">Logout</button></div>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="wrapper p-4">

  <mat-card appearance="outlined" class="filters">
    <app-filters (filterSelection)="filterObjects($event)"></app-filters>
  </mat-card>

  <div class="results">
    <div class="toolbar">
      <div class="nbResults font-bold">
        {{ objects.length }} result{{ objects.length > 1 ? 's' : ''}}
      </div>
      <div class="buttons">
        <button (click)="exportCsv()" mat-raised-button color="primary">
          Export Excel
        </button>

        <button (click)="exportPdf()" mat-raised-button color="accent">
          Export PDF
        </button>
      </div>
    </div>

    <ng-container *ngIf="itemSet.length > 0">
      <cdk-virtual-scroll-viewport itemSize="482" class="list" minBufferPx="5000" maxBufferPx="5000">
        <div class="flex gap-itemSet mb-2" *cdkVirtualFor="let set of itemSet">
          <app-objet-card class="result-objet" *ngFor="let object of set" (selectionChanged)="selectionChanged($event)" [object]="object" [isFavorite]="isInFavorites(object)"></app-objet-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>

    <div class="noresult" *ngIf="objects.length === 0">No results to show, you can try by changing filters</div>
  </div>

</div>
