

<div class="header-wrapper">
  <h2 class="text-xl font-bold ml-2">Filters</h2>
  <button [class.mat-accent]="view === 'presets'" mat-stroked-button (click)="(view === 'filters') ? view = 'presets' : view = 'filters'">Presets</button>
</div>

<div *ngIf="view === 'filters'" class="filters-wrapper p-2">

  <mat-checkbox [(ngModel)]="toSearch.favoritesOnly" value="" color="primary">Favorites only</mat-checkbox>

  <mat-form-field *ngFor="let filter of filters">
    <mat-label>{{ filter.displayName }}</mat-label>
    <input *ngIf="filter.type === 'input'" matInput (change)="fieldChanged(filter.name, $event)" [value]="getValueToSearch(filter.name)">
    <mat-select [value]="getValueToSearch(filter.name)" *ngIf="filter.type === 'select'"  (selectionChange)="fieldChanged(filter.name, $event)">
      <mat-option></mat-option>
      <mat-option *ngFor="let filterOption of filter.values" [value]="filterOption">{{ filterOption | titlecase }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="buttons-wrapper">
    <div>
      <button style="margin-right: 5px;" (click)="reset()" mat-stroked-button>
        Reset
      </button>
      <button (click)="savePreset()" mat-stroked-button color="primary">
        Save preset
      </button>
    </div>

    <button (click)="doFilter()" mat-raised-button color="accent">
      Filter
    </button>
  </div>

</div>

<div *ngIf="view === 'presets'" class="presets-wrapper p-2">

  <mat-card appearance="outlined" *ngFor="let preset of presets" class="preset p-2">
    <div class="flex justify-between items-center">
      <div (click)="loadPreset(preset)">
        {{ preset.name }}
      </div>

      <div class="flex gap-2">
        <button (click)="editPreset(preset)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
        <button (click)="removePreset(preset)" mat-icon-button color="warn"><mat-icon>close</mat-icon></button>
      </div>
    </div>
  </mat-card>

</div>
