@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/874/132/original/abstract-geometric-white-background-free-vector.jpg);
  background-size: cover;
}

.mat-mdc-card-header-text {
  width: 100%;
  margin: 0 !important;
}

.c-pointer {
  cursor: pointer;
}

.ngxImageZoomContainer, .ngxImageZoomThumbnail {
  width: 435px !important;
  height: 650px !important;
}
